@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    }

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #666;
}

.jumbo-wrapper {
    height: 80%;
    background: #6190e8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #6190e8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #6190e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ---------------------------------------------------
    MAIN HEADER STYLE
----------------------------------------------------- */

.header-container {
    margin: 0 5em;
    color: white;
}

.header-left-top-cornerlogo {
    position: fixed;
    padding: .5em;
    left: 10em;
    transform: translate(-50%, 0);
}

.header-top-right-corner-txt{
    font-size: 1em;
    text-align: right;
    padding: .5em;
}

/* ---------------------------------------------------
    MAIN HEADER STYLE - PROGRESS BAR
----------------------------------------------------- */

.progressbar{
    font-size: 1em;
    padding: .5em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.progressbar span {
    padding: 0 1em;
}

.progressbar-bar {
    width: 25em;
    position: absolute;
    border: 1px solid #6190e8;
    border-radius: 25px;
    background: #6190e8;
    left: 50%;
    transform: translate(-50%, 0);
}
.progress-bar {
    color: #000000;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: none;
}

/* ---------------------------------------------------
    LEFT CARD STYLE
----------------------------------------------------- */
.bodycardcontainer {
    margin: 0 5em;
}

.leftsidecard {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-header {
    border: solid #6190e8;
    background: #6190e8;
    color: white;
}
.card-body {
    width: 50%;
}